***REMOVED***
***REMOVED***
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
***REMOVED***
  -->
***REMOVED***
    <Parameter Name="IoTHubConnectionString" Value="HostName=jwiotsolutionfcdcc.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=VRJngwdQjHXiLh4qLiwk0C+sBJZWNCLy+AEpt3SIQTQ=" />
    <Parameter Name="StorageAccountConnectionString" Value="DefaultEndpointsProtocol=https;AccountName=jwiotsolution;AccountKey=U6kLHHZJGB1ihoHsjtAQaQQpg/mRs9ODt8jKHRkDs6kjOV8iq2MRNJqmvYrTMRAkuIKbXKWGDrPu7gkKGOPGgA==;EndpointSuffix=core.windows.net" />
***REMOVED***

  <Section Name="IoTHub">
    <Parameter Name="HubName" Value="jwiotsolutionfcdcc" />
***REMOVED***
***REMOVED***
